<%include partials/header.ejs %>
<div class="table-wrapper">
  <% if (veges.length > 0) {%>
  <table class="table table-hovered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Item Name</th>
        <th scope="col">Type</th>
        <th scope="col">Total quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Add to Cart</th>
      </tr>
    </thead>
    <tbody>
      <% veges.forEach((vege,index)=>{ %>
      <tr>
        <td id="<%=vege.id%>"><%=vege.id%></td>
        <td><%=vege.name%></td>
        <td><%=vege.type%></td>
        <td><%=vege.quantity%></td>
        <td><%=vege.price%></td>
        <td>
          <label
            ><input type="checkbox" class="checkbox" id="<%=vege.name%>" />
            Add</label
          >
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-success form-control"
    onclick="sendreq()"
  >
    Submit
  </button>
  <%} else { %>
  <p>No Items Updated For Today yet.</p>
  <%}%>
</div>

<script>
  var unique;
  let arr = {};
  var id;
  let quan = [];
  let i;
  $(document).ready(function() {
    $('input[type="checkbox"]').click(function() {
      if ($(this).prop("checked") == true) {
        let i = $(this).attr("id");
        arr[i] = ask_qunatity();
        //console.log(arr);

        // var $this = $(this);
        // if ($this.is(":checked")) {
        //   arr.push($this.attr("id"));
        // }
      } // else if ($(this).prop("checked") == false) {
      //   var $this = $(this);
      //   arr.pop($this.attr("id"));
      // }
      // function onlyUnique(value, index, self) {
      //   return self.indexOf(value) === index;
      // }

      // // usage example:
      // unique = arr.filter(onlyUnique);
      // unique = JSON.stringify(unique);
      // console.log(unique);

      function ask_qunatity() {
        let req_quantity;
        req_quantity = window.prompt("Enter Quantity Required", 0);
        return req_quantity;
      }
    });
  });
  function sendreq() {
    let json_array = JSON.stringify(arr);
    console.log(json_array);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "http://localhost:5000/cart");
    xhr.setRequestHeader("Content-type", "application/json; charset=utf-8");
    xhr.send(json_array);
    setTimeout(2000, (window.location.href = "http://localhost:5000/cart"));
  }
</script>
